<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>830434320277-i780i01vk8a1h108ugbt2n5a6ucdtbvf.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.830434320277-i780i01vk8a1h108ugbt2n5a6ucdtbvf</string>
	<key>API_KEY</key>
	<string>AIzaSyAV61dd99zvlVpQgGjjA9bEQFMWfUBIVFo</string>
	<key>GCM_SENDER_ID</key>
	<string>830434320277</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.doozyx.teamScore</string>
	<key>PROJECT_ID</key>
	<string>teamscore-1ae58</string>
	<key>STORAGE_BUCKET</key>
	<string>teamscore-1ae58.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:830434320277:ios:a6520b78d451f29056e09c</string>
</dict>
</plist>